[submodule "mods/ajax-post-edit"]
	path = mods/ajax-post-edit
	url = git@github.com:daris/fluxbb-ajax-post-edit.git
[submodule "mods/ajax-quick-post"]
	path = mods/ajax-quick-post
	url = git@github.com:daris/fluxbb-ajax-quick-post.git
[submodule "mods/attachment-mod"]
	path = mods/attachment-mod
	url = git@github.com:daris/fluxbb-attachment-mod.git
[submodule "mods/collapse-categories"]
	path = mods/collapse-categories
	url = git@github.com:daris/fluxbb-collapse-categories.git
[submodule "mods/colorize-groups"]
	path = mods/colorize-groups
	url = git@github.com:daris/fluxbb-colorize-groups.git
